<section class="card-list">
  <script src="https://use.fontawesome.com/fe459689b4.js"></script>
  <div class="col-lg-7 mx-auto">
    <div class="container">
      <div class="row">
        <button class="btn btn-primary" routerLink="/front/addpost">Add</button>

        <div class="col-lg-10" *ngFor="let post of posts">
          <div class="card mb-3" style="max-width: 1000px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img class="card-img-top" [src]="getImage(post)" alt="{{post.topicPost}}">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ post.topicPost }}</h5>
                  <p class="card-text">{{ post.descriptionPost }}</p>
                  <a  [routerLink]="['/front/detailpost', post.idPost]" class="btn btn-primary mr-3">Read More</a>
                  <p></p>
                  <div class="form-group">
                    <label></label>
                      <button *ngIf="post.userPost.idUser === userId" class="fa fa-pencil icon-buttons2" routerLink="/front/edit/{{post.idPost}}"></button>
                      <button *ngIf="post.userPost.idUser === userId" class="fa fa-times icon-buttons" (click)="deletePost(post)">
                      </button>
                    </div>
                  
                  <p class="card-text"><small class="text-muted">Posted on {{ post.dateCreationPost }}</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
