
<div class="header-main sticky-nav ">
    <div class="container position-relative">
        <div class="row">
            <div class="col-auto align-self-center">
                <div class="header-logo">
                    <a href="index.html"><img src="assets/images/logo/logo3.png"  alt="Site Logo" /></a>
                </div>
            </div>
            <div class="col align-self-center d-none d-lg-block">
                <div class="main-menu">
                    <ul>
                        <li class="dropdown"><a [routerLink]="['/front/home']" >Home </a>
                           
                        </li>
                        <li class="dropdown">
                            <a [routerLink]="['/front/listforum']" >forum </a>
                           
                        </li>
                        <li><a  [routerLink]="['/front/about']">About</a></li>
                        <!-- <li class="dropdown position-static"><a href="about.html">Pages <i class="fa fa-angle-down"></i></a>
                            <ul class="mega-menu d-block">
                                <li class="d-flex">
                                    
                                   
                                    
                                    
                                </li>
                            </ul>
                        </li> -->
                        <li class="dropdown position-static"><a [routerLink]="['/front/shop']">Shop </a>
                           
                        </li>
                        <!-- <li class="dropdown "><a href="#">Blog <i class="fa fa-angle-down"></i></a>
                            <ul class="sub-menu">
                                <li><a href="blog-grid.html">Blog Grid Page</a></li>
                                <li><a href="blog-grid-left-sidebar.html">Grid Left Sidebar</a></li>
                                <li><a href="blog-grid-right-sidebar.html">Grid Right Sidebar</a></li>
                                <li><a href="blog-single.html">Blog Single Page</a></li>
                                <li><a href="blog-single-left-sidebar.html">Single Left Sidebar</a></li>
                                <li><a href="blog-single-right-sidebar.html">Single Right Sidbar</a>
                            </ul>
                        </li> -->
                        <li><a  [routerLink]="['/front/claim']">Claim</a></li>
                    </ul>
                </div>
            </div>
            <!-- Header Action Start -->
            <div class="col col-lg-auto align-self-center pl-0">
                <div class="header-actions">
                    <!-- Single Wedge Start -->
                    <a href="#" class="header-action-btn" data-bs-toggle="modal" data-bs-target="#searchActive">
                        <i class="pe-7s-search"></i>
                    </a>
                    <!-- Single Wedge End -->
                    <div class="dropdown">
                        <button class="dropdown-toggle header-action-btn"  data-bs-toggle="dropdown">
                          <i class="pe-7s-users"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end">
                          <a class="dropdown-item"  [routerLink]="['/front/profile']">My account</a>
                        
                          <a class="dropdown-item" [routerLink]="['/front/login']" >Log out</a>
                        </div>
                      </div>
                      
                    <!-- Single Wedge Start -->
                    <a href="#offcanvas-wishlist" class="header-action-btn offcanvas-toggle">
                        <i class="pe-7s-like"></i>
                    </a>
                    <!-- Single Wedge End -->
                    <a href="#offcanvas-cart"
                        class="header-action-btn header-action-btn-cart offcanvas-toggle pr-0">
                        <i class="pe-7s-shopbag"></i>
                        <span class="header-action-num">01</span>
                        <!-- <span class="cart-amount">€30.00</span> -->
                    </a>
                    <a href="#offcanvas-mobile-menu"
                        class="header-action-btn header-action-btn-menu offcanvas-toggle d-lg-none">
                        <i class="pe-7s-menu"></i>
                    </a>
                </div>
                <!-- Header Action End -->
            </div>
        </div>
    </div>
</div>


















